<ion-header [translucent]="true">
  <ion-button expand="full" (click)="generarPDF()">Generar PDF</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <div #container>

    <div class="dashboard-content">
      <div class="seccion header">
        <h1>Dashboard</h1>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <h2>Bar Chart</h2>
              <app-bar-chart
                [backgroundColorCat]="backgroundColorCat"
                [borderColorCat]="borderColorCat"
              ></app-bar-chart>
            </ion-col>
            <ion-col size="4">
              <h2>Pie Chart</h2>
              <app-pie-chart
                [backgroundColorCat]="backgroundColorCat"
                [borderColorCat]="borderColorCat"
              ></app-pie-chart>
            </ion-col>
            <ion-col size="4">
              <h2>Line Chart</h2>
              <app-line-chart></app-line-chart>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="seccion  list-container">
        <h2>Lista</h2>
        <ul *ngFor="let lista of datosLista">
          <li>{{lista}}</li>
        </ul>
      </div>

      <div class="table-container">
        <h2 class="seccion">Tabla</h2>
        <app-tabla [datosTabla]="datosTabla"></app-tabla>
      </div>
    </div>

  </div>
</ion-content>
